$header-height: 64px;

:root {
  --primary-color: #12A54A;
  --secondary-color: #AAEABC;
  --primary-bg: #F5F5F5;
  --primary-radius: 8px;
  --secondary-radius: 7px;
  --primary-border: #EAECF0;
  --primary-text-link: #3086FF;

  --header-height: 64px;
  --header-item-margin: 24px;
  --header-item-margin-secondary: 22px;
  --header-item-margin-third: 21px;
  --header-icon-size: 22px;

  --primary-text: 16px;
  --primary-text-color: #344054;
  --primary-line-height: 22px;

  --primary-icon-size: 20px;
}