@import url('https://fonts.googleapis.com/css2?family=Hurricane&family=Open+Sans:ital,wght@0,300;0,400;1,300;1,500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open + Sans:300, 400, 700');
@import url('https://fonts.googleapis.com/icon?family=Material + Icons');
@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 16px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

p {
  margin: 0;
}

input {
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

.table-wrapper {
  .ant-table-cell {
    height: 65px;
  }
}

.hrm-content-name {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

@import "./styles/overides/overides";
@import "./styles/variables/variables";
@import "./scss/hrm/employee/index";
@import "./scss/cms/cms";
@import "./scss/login/index";
